@charset "utf-8";

html, body{
    width: 100%;
    height: auto;
    /*
    background-color: #090909;
    */
    background-color: #0C0838;
    
    font-size: 10px;
    font-family: "Montserrat", "Alatsi", "DM Serif Display";
}

/*==============================*/

header{
    width: 100%;
    height: 10%;
    background-color: #ffffff55;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
    transform: translateY(-10vh);
    transition: all .8s;
}

header.appear{
    transform: translateY(0);
}

#home{
    width: 7.5rem;
    height: 100%;

    display: block;

    text-align: center;
    line-height: 10vh;
    font-size: 4rem;
    font-family: "Alatsi";
    color: #bcbcbc;
    text-decoration: none;

    transition: all .25s;
}

#header-span{
    width: calc(100% - 7.5rem - calc(12.5rem * 5));
    display: block;
}

header .nav{
    width: 12.5rem;
    height: 100%;

    display: block;

    text-align: center;
    line-height: 10vh;
    font-size: 2.5rem;
    font-family: "Alatsi";
    font-weight: normal;
    color: #bcbcbc;
    text-decoration: none;

    transition: all .25s;
}

#home:hover, header .nav:hover{
    color: #f0f0f0;
}

a .material-symbols-outlined{
    font-size: 5rem;
    line-height: 10vh;
}

/*==============================*/

main{
    width: 100%;
    height: 100%;
    display: block;

    margin-top: 10vh;
}

/*==============================*/

#desc{
    width: 100%;
    display: block;

    padding: 3rem 0;
}

#desc-title{
    width: 40%;
    display: block;

    margin: 0 auto;

    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: justify;
    line-height: 7rem;
    color: #f0f0f0;
}

#desc-context{
    width: 40%;
    display: block;

    margin: 0 auto;

    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2rem;
    color: #f0f0f0;
}

#desc-context strong{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.25rem;
}

/*==============================*/

#table1 table{
    width: 80%;

    margin: 3rem 10%;

    text-align: center;

    border-collapse: collapse;
    border-spacing: 0;
}

#table1 table caption{
    width: 100%;
    height: 5rem;

    margin: 0;
    padding: 1rem 0;

    color: #f0f0f0;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    line-height: 5rem;
}

#table1 table tr:nth-child(2n+1) {
    background: #e9faf9;
}

#table1 table tr th {
    padding: 10px;
    background: #778ca3;
    border-right: solid 1px #778ca3;
    color: #ffffff;

    width: calc(100% / 8);
}

#table1 table tr th:last-child {
    border-right: none;
}

#table1 table tr td {
    padding: 10px;
    border-right: solid 1px #778ca3; 
    color: #f0f0f0;
}

#table1 table tr td:last-child {
    border-right: none;
}

/*==============================*/

footer{
    width: 100%;
    height: auto;
    display: block;

    margin: 5rem 0 0 0;

    background-color: #f0f0f0;
}

footer p{
    width: 60%;
    display: block;

    margin: auto;
    padding: 2rem 0;

    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.75rem;
}


/*==============================*/
/*==============================*/
/*==============================*/

@media screen and (max-width: 900px) {
    html{
        -webkit-text-size-adjust: 100%;
        font-size: 8px;
    }

    header{
        height: 7%;
    }

    #header-span{
        display: none;
    }

    header .nav{
        width: calc(calc(100% - 7.5rem)/5);
        line-height: 7vh;
        font-size: 1.75rem;
        color: #f0f0f0;
    }

    #home{
        line-height: 7vh;
    }

    a .material-symbols-outlined{
        font-size: 3rem;
        line-height: 7vh;
        color: #f0f0f0;
    }
}