@charset "utf-8";

html, body{
    width: 100%;
    height: auto;
    background-color: #0C083800;
    
    font-size: 10px;
    font-family: "Montserrat", "Alatsi", "DM Serif Display";
}

/*==============================*/

header{
    width: 100%;
    height: 10%;
    background-color: #f0f0f055;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
    transform: translateY(0);
    transition: all .8s;
}

#home{
    width: 7.5rem;
    height: 100%;

    display: block;

    text-align: center;
    line-height: 10vh;
    font-size: 4rem;
    font-family: "Alatsi";
    color: #bcbcbc;
    text-decoration: none;

    transition: all .25s;
}

#header-span{
    width: calc(100% - 7.5rem - calc(12.5rem * 4));
    display: block;
}

header .nav{
    width: 12.5rem;
    height: 100%;

    display: block;

    text-align: center;
    line-height: 10vh;
    font-size: 2.5rem;
    font-family: "Alatsi";
    font-weight: normal;
    color: #bcbcbc;
    text-decoration: none;

    transition: all .25s;
}

#home:hover, header .nav:hover{
    color: #f0f0f0;
}

a .material-symbols-outlined{
    font-size: 5rem;
    line-height: 10vh;
}

/*==============================*/

#background-img{
    width: 100%;
    height: 100%;
    display: block;

    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    object-fit: cover;
    filter: brightness(0.6);
}

/*==============================*/

main{
    width: 100%;
    height: 100%;
    display: block;

    margin-top: 10vh;
}

/*==============================*/

#desc{
    width: 100%;
    display: block;

    margin: 2rem 0;
    padding: 3rem 0;

    background-color: #0C0838;
}

#desc-title{
    width: 40%;
    display: block;

    margin: 0 auto;

    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: justify;
    line-height: 7rem;
    color: #f0f0f0;
}

#desc-context{
    width: 40%;
    height: auto;
    display: block;

    margin: 0 auto;

    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: justify;
    line-height: 2.5rem;
    color: #f0f0f0;
}

#desc-context strong{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.5rem;
}

/*==============================*/

#table-button{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;

    margin: 0 10%;
}

#table-button button{
    width: auto;
    height: auto;
    display: block;

    padding: 2rem 3rem;
    margin-right: 1.5rem;

    border: none;

    color: #000;
    font-size: 2.5rem;
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
    line-height: 3rem;

    cursor: pointer;

    transition: all .25s;
}

#solar-system, #compare{
    background-color: #bcbcbc;
}

#solar-system.view, #compare.view{
    background-color: #e9faf9;
}

/*==============================*/

#table{
    width: 80%;
    height: auto;
    display: block;

    margin: 0 10%;

    backdrop-filter: blur(0.25rem);
    background-color: #f0f0f055;

    border: #e9faf9 1px solid;
    border-radius: 0 3rem 3rem 3rem;
}

#table1{
    width: 90%;
    display: none;

    margin: 3rem 5%;

    text-align: center;
}

#table1.view{
    display: block;
}

#table1 table{
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
}

#table1 table caption{
    width: 100%;
    height: 3rem;

    margin: 0;
    padding: 2rem 0;

    color: #f0f0f0;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    line-height: 3rem;
}

#table1 table tr th {
    width: calc(100% / 8);

    padding: 1rem;

    background-color: #778ca3;

    border-right: solid 1px #778ca3;

    color: #f0f0f0;
    font-size: 1.75rem;
    font-weight: 500;
}

#table1 table tr th:last-child {
    border-right: none;
}

#table1 table tr td {
    padding: 1rem;

    border-right: solid 1px #778ca3; 

    color: #f0f0f0;
    font-size: 1.75rem;
    font-weight: 500;
}

#table1 table tr td:last-child {
    border-right: none;
}

/*==============================*/

#table2{
    width: 90%;
    display: none;

    margin: 3rem 5%;

    text-align: center;
}

#table2.view{
    display: block;
}

#table2 form{
    width: 60%;
    height: auto;
    display: flex;

    flex-direction: row;
    justify-content: space-around;

    padding: 2rem;
    margin: 2rem auto;

    border-bottom: #f0f0f0 1px solid;
}

#table2 form div{
    width: 34%;
    height: auto;
    display: flex;

    flex-direction: row;
    gap: 0;

    margin: 1rem 0.5%;
}

#table2 form div label{
    width: 40%;
    height: auto;
    display: block;

    padding: 1rem 0;

    color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

#table2 form div select{
    width: 60%;
    height: auto;
    display: block;

    padding: 1rem 0;

    border: #f0f0f0 1px solid;
    border-radius: 1rem;

    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

#form-update{
    width: 25%;
    height: auto;
    display: block;

    margin: 1rem 0 1rem 5%;
    padding: 1rem 2rem;

    border: none;
    border-radius: 1rem;

    background-color: #0C0838;

    color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

#form-update:active{
    color: #000;
    background-color: #f0f0f0;
}

/*==============================*/

#table-compare{
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
}

#table-compare caption{
    width: 100%;
    height: 3rem;

    margin: 0;
    padding: 2rem 0;

    color: #f0f0f0;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    line-height: 3rem;
}

#table-compare tr th {
    width: calc(100% / 4);

    padding: 1rem;

    background-color: #778ca3;

    border-right: solid 1px #778ca3;

    color: #f0f0f0;
    font-size: 1.75rem;
    font-weight: 500;
}

#table-compare tr th:last-child {
    border-right: none;
}

#table-compare tr td {
    padding: 1rem;

    border-right: solid 1px #778ca3; 

    color: #f0f0f0;
    font-size: 1.75rem;
    font-weight: 500;
}

#table-compare tr:nth-child(2n+1) {
    background: #778ca366;
}

#table-compare tr td:last-child {
    border-right: none;
}

/*==============================*/

footer{
    width: 100%;
    height: auto;
    display: block;

    margin: 5rem 0 0 0;

    background-color: #f0f0f0;
}

footer p{
    width: 60%;
    display: block;

    margin: auto;
    padding: 2rem 0;

    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.75rem;
}


/*==============================*/
/*==============================*/
/*==============================*/

@media screen and (max-width: 900px) {
    html{
        -webkit-text-size-adjust: 100%;
        font-size: 8px;
    }

    header{
        height: 7%;
    }

    #header-span{
        display: none;
    }

    header .nav{
        width: calc(calc(100% - 7.5rem)/4);
        line-height: 7vh;
        font-size: 1.75rem;
        color: #f0f0f0;
    }

    #home{
        line-height: 7vh;
    }

    a .material-symbols-outlined{
        font-size: 3rem;
        line-height: 7vh;
        color: #f0f0f0;
    }
    
    main{
        width: 100%;
        margin-top: 7vh;
    }

    #desc-title{
        width: 80%;
    }
    
    #desc-context{
        width: 80%;
    }

    #table-button button{
        font-size: 2rem;
    }

    #table1 table caption{
        font-size: 2rem;
    }

    #table1 table, #table2 table{
        white-space: nowrap;
    }

    .table-container{
        overflow-x: scroll;
    }

    #table2 form{
        width: 80%;
        display: block;
    }

    #table2 form div{
        width: 100%;
    }
    
    #table2 form div label{
        width: 40%;
    }
    
    #table2 form div select{
        width: 60%;
    }
    
    #form-update{
        width: 50%;
        margin: 1rem auto;
    }
}